[alias]
    co = checkout
    cm = commit -m 
    st = status
    cg = config --global
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset' --abbrev-commit    
    ci = commit -m 
    cam = commit -a -m
    d = difftool
    br = branch 
[filter "lfs"]
    clean = git lfs clean %f
    smudge = git lfs smudge %f
    required = true
[core]
    editor = vim
    trustctime = false
[difftool "bc"]
[mergetool "bc"]
[difftool]
    prompt = false     
[push]
    default = matching
